<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>환경 설정</title>
  <link rel="stylesheet" href="../dist/css/style.min.css" />
</head>

<body>
  <div class="layout-root">
    <div class="container">
      <!-- header -->
      <header class="header">
        <div class="top-bar">
          <div class="top-bar__head">
            <h1 class="top-bar__logo">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#iris-logo"></use>
              </svg>
            </h1>
            <ul class="gnb">
              <li class="gnb__item">
                <button class="gnb__button button-base">
                  <span class="button__text">개인설정</span>
                </button>
              </li>
              <li class="gnb__item">
                <button class="gnb__button gnb__button--active button-base">
                  <span class="button__text">유저정보</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="top-bar__toolbar">
            <div class="top-bar__toolbar-item">
              <button class="top-bar__toolbar-button button-base button--icon button-move">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-left"></use>
                </svg>
              </button>
              <button class="top-bar__toolbar-button button-base button--icon button-move">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </button>
            </div>
            <div class="top-bar__toolbar-item">
              <button class="top-bar__toolbar-button button-base">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#help-outline"></use>
                </svg>
              </button>
            </div>
            <div class="top-bar__toolbar-item select">
              <!-- top-bar__toolbar-item--open 클래스 추가시 select-container 스타일 display: block; -->
              <div>
                <button class="top-bar__toolbar-button select-selector__button button-base">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#global"></use>
                  </svg>
                  <span class="select-selector__title button__text">한국어</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-down-medium"></use>
                  </svg>
                </button>
                <ul class="select-container">
                  <li class="select-container__item">
                    <button class="select-container__button select-container__subtext button-base">한국어</button>
                  </li>
                  <li class="select-container__item">
                    <button class="select-container__button select-container__subtext button-base">영어</button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="top-bar__toolbar-item">
              <button class="top-bar__toolbar-button button-base">
                <span class="button__text">root</span>
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#app-switcher"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="breadcrumb">
          <span class="breadcrumb__text">유저정보</span>
        </div>
      </header>

      <!-- body -->
      <main class="body">
        <div class="body_title">
          <h2 class="heading-04">유저 정보</h2>
        </div>
        <div class="form">

        </div>
        <form class="form">
          <div class="form__body">
            <ul class="form__list">
              <li class="form__item">
                <label for="id" class="form__label">
                  <span class="text-input--essential">*</span>
                  <span class="form__label-text">아이디</span>
                </label>
                <div class="form__detail">
                  <div class="form__detail-item">
                    <input type="id" id="id" class="text-input text-input--lg">
                  </div>
                </div>
              </li>
              <li class="form__item">
                <label for="passward" class="form__label">
                  <span class="text-input--essential">*</span>
                  <span class="form__label-text">비밀번호</span>
                </label>
                <div class="form__detail">
                  <div class="form__detail-item">
                    <input type="passward" id="id" class="text-input text-input--lg">
                    <button class="button button--support button--lg">비밀번호 변경</button>
                  </div>
                </div>
              </li>
              <li class="form__item">
                <label for="name" class="form__label">
                  <span class="text-input--essential">*</span>
                  <span class="form__label-text">이름</span>
                </label>
                <div class="form__detail">
                  <div class="form__detail-item">
                    <input type="text" id="name" class="text-input text-input--lg">
                  </div>
                </div>
              </li>
              <li class="form__item">
                <label for="group" class="form__label">
                  <span class="text-input--essential"></span>
                  <span class="form__label-text">그룹</span>
                </label>
                <div class="form__detail">
                  <div class="form__detail-item">
                    <input type="text" id="group" class="text-input text-input--lg">
                  </div>
                </div>
              </li>
              <li class="form__item">
                <label for="tel" class="form__label">
                  <span class="text-input--essential">*</span>
                  <span class="form__label-text">전화번호</span>
                </label>
                <div class="form__detail">
                  <div class="form__detail-item">
                    <input type="tel" id="tel" class="text-input text-input--lg">
                  </div>
                </div>
              </li>
              <li class="form__item">
                <label for="email" class="form__label">
                  <span class="text-input--essential"></span>
                  <span class="form__label-text">이메일</span>
                </label>
                <div class="form__detail">
                  <div class="form__detail-item">
                    <input type="email" id="email" class="text-input text-input--lg">
                  </div>
                </div>
              </li>
              <li class="form__item">
                <label for="description" class="form__label">
                  <span class="text-input--essential"></span>
                  <span class="form__label-text">설명</span>
                </label>
                <div class="form__detail">
                  <div class="form__detail-item">
                    <input type="text" id="description" class="text-input text-input--lg">
                  </div>
                </div>
              </li>
              <li class="form__item">
                <label class="form__label">
                  <span class="text-input--essential"></span>
                  <span class="form__label-text">이메일 수신 동의</span>
                </label>
                <div class="form__detail">
                  <div class="form__detail-item">
                    <div class="checkbox">
                      <input type="checkbox" id="email-agree" class="checkbox__input">
                      <label for="email-agree" class="checkbox__label">수신 동의함</label>
                    </div>
                    <div class="notification-message notification-message--info">
                      <svg class="notification-message__icon svg-icon" aria-hidden="true">
                        <use xlink:href="#info-fill"></use>
                      </svg>
                      <span class="notification-message__text">수신 동의 시에만, 입찰정보 일일 리포트를 메일로 받으실 수 있습니다. </span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="form__foot">
            <button class="button button--danger button--lg">초기화</button>
            <button class="button button--tertiary button--lg">회원탈퇴</button>
            <div class="form__foot-main-buttons">
              <button class="button button--primary button--lg">저장</button>
            </div>
          </div>
        </form>



        <!--
    <svg class="svg-icon" aria-hidden="true">
      <use xlink:href="#data"></use>
    </svg>
  -->
      </main>

      <!-- footer -->
      <footer>
        <!-- FOOTER -->
      </footer>

    </div>
  </div>
  <script src="../dist/js/main.bundle.js"></script>
</body>

</html>