<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 가입</title>
  <link rel="stylesheet" href="../../dist/css/style.min.css" />
</head>

<body>
  <div class="modal modal--lg" style="position: static;">
    <!-- modal__head -->
    <div class="modal__head">
      modal__head
    </div>
    <!-- // modal__head -->

    <!-- modal__body -->
    <div class="modal__body modal__body--lg">
      contents
    </div>
    <!-- // modal__body -->

    <!-- modal__foot -->
    <div class="modal__foot">
      modal__foot
    </div>
    <!-- // modal__foot -->

  </div>

  <script src="../../dist/js/main.bundle.js"></script>
</body>

</html>