body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-root {
  width: 100%;
}
.container {
  width: 100%;
}
html,
body,
.layout-root,
.container {
  height: 100%;
  overflow: hidden;
}
