.modal__head-title {
  justify-content: space-between;
}
.checkbox__label--essential {
  color: $primary;
  font-weight: bold;
}
.text-area {
  color: $text-02;
}
.form__item--border {
  border-bottom: 1px solid $ui-04;
}
